body {
  background-color: gainsboro;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: darkgray;
  padding: 10px;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-item a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-item a:hover {
  color: #ff6b6b;
}

.headings {
  font-family: "Gilroy", "Lucida Sans", Arial, sans-serif;
  border: solid gray;
  padding: center;
  align-items: center;
}

.creditContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px double black;
  border-radius: 5px;
}

.debitContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px double black;
  border-radius: 5px;
}

.innerContainer {
  text-align: center;
}
.forms {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  margin-left: 90px;
  text-align: center;
  color: black;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

button {
  background-color: #4caf50;
  color: black;
  border: none;
  padding: 1px 1px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

hr {
  border: none;
  border-top: 1px solid rgb(6, 6, 6);
  margin: 10px 0;
}

h3 {
  text-align: center;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
}

h1,
h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.homeContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.featuresSection {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.feature {
  width: 30%;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  text-align: center;
  align-items: center;
}

.feature h3 {
  margin-bottom: 10px;
}

.feature p {
  color: #777;
}

.userProfileContainer {
  background-color: gainsboro;
  padding: 20px;
  border-radius: 5px;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label {
  flex-basis: 200px;
  font-weight: bold;
}

.value {
  flex-grow: 1;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  /* Set the desired width */
}

.resized-img {
  width: 60%; /* Adjust the percentage value to reduce the width */
  height: auto;
}
